.DS_Store
**/.DS_Store

*.xcuserstate
xcuserdata/

venv/
.env
__pycache__/
.cursor

docs/TODO

# Android
BubblerAndroid/local.properties
BubblerAndroid/.gradle/
BubblerAndroid/**/build/
BubblerAndroid/.idea/
BubblerAndroid/*.iml
BubblerAndroid/captures/
*.apk
*.aab
*.dex
*.class


