[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
fastapi = "*"
dotenv = "*"
asyncpg = "*"
pydantic = {extras = ["email"], version = "*"}
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
